parameters:
    level: 3
    paths:
        - app

    excludePaths:
        - vendor/*
        - storage/*
        - bootstrap/cache/*

    ignoreErrors:
        - '#Call to an undefined method.*#'
        - '#should return Illuminate\\Database\\Eloquent\\Builder but returns Illuminate\\Database\\Query\\Builder#'
        - '#Call to an undefined static method.*::orderBy#'

# includes:
#     - ./vendor/larastan/larastan/extension.neon